.bbox {
  border: 2px solid black;
  color: white;
  padding: 20px;
  text-shadow: 3px 3px 2px rgba(0,0,0, .5);
}

.bg-color {
  background-color: #ccf;
}

.bg-image {
  background-image: url("images/starry-smudge.png");
}

.bg-image-norepeat {
  background-color: #ccf;
  background-image: url("images/starry-smudge.png");
  background-repeat: no-repeat;
}

.bg-image-moved {
  background-color: #ccf;
  background-image: url("images/starry-smudge.png");
  background-repeat: repeat-x;
  background-position: 4px 4px;
}
