
/*
  ========================================
  Boxes
  ========================================
*/
.above,
.below {
  background-color: #D6D8FF;
}

.above,
.below,
.box1,
.box2,
.box3 {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
	border-radius: 6px;
	font-size: 150%;
}

.box1 {
  background-color: #65F79D;
}

.box2 {
  background-color: #65F7F5;
}

.box3 {
  background-color: #65B6F7;
}


/*
  ========================================
  Add Floats
  ========================================
*/

.float {
  float: left;
}

.float-right {
  float: right;
}
.c-1-3 {
  width: 33.33%;
}

.clear-floats {
	clear: both;
}

/*
  ========================================
  Inline block tests
  ========================================
*/

.ib {
  display: inline-block;
}
