.ex {
  border-color: #AAA;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: 2px;
  padding: 18px;
}
.color-size-style {
  color: #E0E;
  font-size: 15px;
  font-style: italic;
}

.small-caps {
  font-variant: small-caps;
}

.bolder {
  font-weight: bolder;
}

.line-height {
  line-height: 200%;
}



/* begin second set (text properties) */
.align-decoration-indent {
  text-align: right;
  text-decoration: underline;
  text-indent: 40px;
}

.shadow {
  text-shadow: 4px 8px 2px rgba(255,0,0, .5);
}
.double-shadow {
  text-shadow: 4px 8px 2px rgba(255,0,0, .5), -10px -6px 5px rgba(0,0,255, .3);
}


/* third set */
.transform {
  text-transform: capitalize;
}

.spacing {
  letter-spacing: .75em;
  word-spacing: -1.75em;
}

/* fourth set - fonts */
.fontfam {
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}
.embedfont {
  font-family: 'Indie Flower', cursive;
}
